extends layout

block content
  - img = book.thumbnail_image_url || '../images/bookBrand.png'
  img(src=`${img}`)
  h1= book.title
  h2= book.description
  for author in book.authors
    h3= author.name
  for genre in book.genres
    h3= genre.name
