extends layout

block content
  include ./edit.pug
  - img = book.thumbnail_image_url
  .book-details-wrap
    .book-img-wrap
      img(src=`${img}`)
      for author in book.authors
        h4= author.name
    .book-description
      h2= book.title
        a(href='#',type='button', data-toggle='modal', data-target='#editBook')
          span.delete-book.glyphicon.glyphicon-edit.btn
      p= book.description
      for genre in book.genres
        span= genre.name
      div
        a(href=`${book.buy_link}`) Buy NOW!
