#editBook.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#addBookLabel.modal-title Edit Book
      .modal-body
        form(method='post', action=`/edit/${book.id}`)
          .form-group
            label(for='bookTitle') Book Title
            input#bookTitle.form-control(type='text',  value=`${book.title}`, name='title')
          .form-group
            label(for='bookPublishDate') Publish Date
            input#bookPublishDate.form-control(type='date', value=`${book.published_at}`, name='publishDate')
          .form-group
            label(for='bookAuthor') Author
            button.clickAddAuthor.glyphicon.glyphicon-plus.btn.btn-xs
            .author
              for author in book.authors
                .author-wrap
                  button.clickRemAuthor.glyphicon.glyphicon-remove.btn.btn-xs
                  input#bookAuthor.form-control(type='text', value=`${author.name}`, name='author')
          .form-group
            label(for='bookGenre') Genre
            button.clickAddGenre.glyphicon.glyphicon-plus.btn.btn-xs
            .genre
              for genre in book.genres
                .genre-wrap
                  button.clickRemGenre.glyphicon.glyphicon-remove.btn.btn-xs
                  input#bookGenre.form-control(type='text', value=`${genre.name}`, name='genre')
          .form-group
            label(for='pageCount') Page Count
            input#pageCount.form-control(type='number',  value=`${book.page_count}`, name='pageCount')
          .form-group
            label(for='listPrice') List Price
            input#listPrice.form-control(type='text',  value=`${book.list_price}`, name='listPrice')

          .form-group
            label(for='bookDescription') Book Synopsis
            textarea#bookDescription.form-control(rows='3',name='description')
              | #{book.description}
          .form-group
            label(for='bookImgUrl') Image URL
            input#bookImgUrl.form-control(type='text',  value=`${book.thumbnail_image_url}`, name='imgUrl')
            small#fileHelp.form-text.text-muted
              | Copy and pase the URL so we can judge the book by its cover
          .form-group
            label(for='bookBuyLink') Buy Link
            input#bookBuyLink.form-control(type='text',  value=`${book.buy_link}`, name='buyLink')

          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Save changes
