extends layout

block content
  +nextPrevPage(page)
  table.table.table-hover
    thead
      tr
        th Image
        th Title
        th Description
    tbody
      for book in books
        +listBookProp(book)

mixin listBookProp(book)
  - img = book.thumbnail_image_url || '../images/no_book_image.gif'
  - rating = book.average_rating || 'no rating'
  - description = book.description || 'No description avaliable'
  tr
    th
      a(href=`/book/${book.id}`)
        img(src=`${img}`)
      span= `Rating: ${rating}`
    th
      span= book.title
    th
      span=  `${description}`

mixin nextPrevPage( currentPage )
  - nextPage = parseInt(currentPage) + 1
  - prevPage = parseInt(currentPage) - 1
  if currentPage > 1
    a(href=`/admin/?page=${prevPage}`) Prev
  if books.length == 50
    a(href=`/admin/?page=${nextPage}`) Next
