extends layout

block content
  table.table.table-hover
    thead
      tr
        th Image
        th Title
        th Description
    tbody
      for book in books
        +listBookProp(book)

mixin listBookProp(book)
  - img = book.thumbnail_image_url || '../images/no_book_image.gif'
  - rating = book.average_rating || 'no rating'
  - description = book.description || 'No description avaliable'
  tr
    th
      a(href=`/book/${book.id}`)
        img(src=`${img}`)
      span= `Rating: ${rating}`
    th
      span= book.title
    th
      span=  `${description}`
